anykeystore==0.2
apex==0.9.10.dev0
boto3==1.26.115
botocore==1.29.115
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
cryptacular==1.6.2
cxxfilt==0.3.0
defusedxml==0.7.1
exceptiongroup==1.1.1
filelock==3.11.0
greenlet==2.0.2
hupper==1.12
idna==3.4
importlib-metadata==6.4.1
iniconfig==2.0.0
jmespath==1.0.1
joblib==1.2.0
MarkupSafe==2.1.2
methodtools==0.4.7
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
nltk==3.8.1
oauthlib==3.2.2
packaging==23.1
PasteDeploy==3.0.1
pbkdf2==1.3
plaster==1.1.2
plaster-pastedeploy==1.0.1
pluggy==1.0.0
protobuf==3.20.3
py-rouge==1.1
pyramid==2.0.1
pyramid-mailer==0.15.1
pyrouge==0.1.3
pytest==7.3.1
python-dateutil==2.8.2
python3-openid==3.2.0
PyYAML==6.0
regex==2022.10.31
repoze.sendmail==4.4.1
requests==2.28.2
requests-oauthlib==1.3.1
rouge==1.0.1
s3transfer==0.6.0
sacremoses==0.0.53
sentencepiece==0.1.98
SQLAlchemy==1.4.47
tensorboardX==2.6
tokenizers==0.7.0
tomli==2.0.1
torch==1.5.1
torchvision==0.6.0a0+35d732a
tqdm==4.65.0
transaction==3.1.0
transformers==2.10.0
translationstring==1.4
typing_extensions==4.5.0
urllib3==1.26.15
velruse==1.1.1
venusian==3.0.0
WebOb==1.8.7
wirerope==0.4.7
WTForms==3.0.1
wtforms-recaptcha==0.3.2
zipp==3.15.0
zope.deprecation==5.0
zope.interface==6.0
zope.sqlalchemy==2.0
